
<header>
  <h1>Raad het getal</h1>
</header>

<div class="startFrame">
  <p class="set-button" *ngIf="randomNummer === null; else elseBlock">
    <button class="button-start" (click)="startGame()">Start een nieuw spel</button>
  </p>
    <ng-template #elseBlock>
      <button class="button-start" (click)="startGame()">Begin een nieuw spel</button>
    </ng-template>

    <p *ngIf="randomNummer != null">
      <input class="veld" #input type="text">
      <button class="button-gok" (click)="tryMatch(input.value)">Doe een gok</button><br>
      <span class="fout">{{errorMessage}}</span>
    </p>
</div>

<div class="berichtgeving">
  <p class="hint" *ngIf="gokVerschil > 0 && aantalPogingen > 0 && errorMessage == '' ">
    <b>Kies een hoger getal dan {{gok}}</b> </p>
  <p class="hint" *ngIf="gokVerschil < 0 && aantalPogingen > 0 && errorMessage == '' ">
    <b>Kies een lager getal dan {{gok}}</b>
  </p>
  <p class="geraden" *ngIf="gokVerschil === 0">
    Proficiat! Je hebt het nummer <b>{{gok}}</b> correct geraden binnen de <b>{{10-aantalPogingen}}</b> pogingen <br>
  </p>
  <p class="jammer" *ngIf="aantalPogingen < 1 && gokVerschil != 0">
    Helaas! Je hebt het nummer niet correct geraden binnen de 10 pogingen
  </p>  
  <p *ngIf="randomNummer != null">
    Je hebt nog <b>{{aantalPogingen}}</b> pogingen over
  </p> 

  <span *ngIf="aantalPogingen < 10">Alle pogingen:</span>
  <span *ngFor="let nummer of geschiedenis">
   {{nummer}},
  </span> 

</div>

